*.bin filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
bert_token_classification_model/** filter=lfs diff=lfs merge=lfs -text
t5_plan_model/** filter=lfs diff=lfs merge=lfs -text
